@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Index";
    var dict = ViewBag.FooDictionary;
}
<section class="content-header">
    <h2>Index</h2> 
</section

<section class="content">
    
</section>
